<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test WS</title>
    <script src="https://unpkg.com/cookielib/src/cookie.min.js"></script>
</head>
<body>
<script>
        const login = (login='admin', pass='admin') => {
            return fetch('http://127.0.0.1:8000/auth/token/login/', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json',
                    // "X-CSRFToken": "cslxaJkfISUfWK7pqBisUCiqc3qt4DdUavCoHT7mHw8wtsmexSG5F7s9nXcjg80b"
                },
                body: JSON.stringify({
                    'username': login,
                    'password': pass
                })
            }).then(response => response.json())
            .then(response => {
                console.log('token', response.auth_token),
                setCookie('Authorization', 'Token ' + response.auth_token);
                return response.auth_token;
            });
        }

        const set_ws_methods = (socket) => {
            socket.onopen = function() {
              console.log("Соединение установлено.");
            };

            socket.onmessage = function(event) {
              console.log("Получены данные " + event.data);
            };

            socket.onerror = function(error) {
              console.log("Ошибка " + error.message);
            };

            socket.onclose = function(event) {
              if (event.wasClean) {
                console.log('Соединение закрыто чисто');
              } else {
                console.log('Обрыв соединения'); // например, "убит" процесс сервера
              }
              console.log('Код: ' + event.code + ' причина: ' + event.reason);
            };
        }

        let socket;

        console.log(document.cookie.split(';'))
        ws_connect = getCookie('Authorization') == undefined ?
            login() :
            new Promise((resolve, reject) => resolve(getCookie('Authorization')));

        ws_connect.then((token) => {
            console.log(token);
            socket = new WebSocket(
                'ws://127.0.0.1:8000/game/ws/game/'
            )
            set_ws_methods(socket)
        })

    </script>
</body>
</html>